# This file is only applied if the module is used independently
# Otherwise, the global sapidity .gitignore aleady ignore builds and modules

# Dependencies
node_modules/

# Build Output
dist/

# Editors
.idea/
.vscode/

# MacOS
.DS_store